.actions
  margin-top 20px
  .button
    padding 10px 30px
    display inline-block
    background #0a71bf
    color #fff
    cursor pointer
    text-decoration none
    &:hover
      background-color #107CCE